<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_style.css' ) }}">
</head>
<body class="profile-body">


    <div class="main-content admin-register">
        <div class ="admin-card">
    
        <form action="/admin/login" method="post">
            <h1>Admin Login</h1>
            
            <div class="input-box">
                <input type="email" name="email" placeholder="Email" required>
            </div>

            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <br></br>
            <button type="submit" class="btn">Login</button>
            <p>Not an admin? <a href="{{ url_for('admin_register') }}" class="btn">Register here</a></p>
        </form>
    </div>
</body>
</html>