<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}">
<head>
    <title>{{ book.title }}</title>
</head>
<body>
<div class="book-container">
    <h1>{{ book.title }}</h1>

    <p><b>Category:</b> {{ book.category }}</p>
    <p><b>Summary:</b> {{ book.summary }}</p>
    
    <form action="{{ url_for('borrow_book', title=book.title) }}" method="POST">
        <button type="submit">Borrow Book</button>
    </form>
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2>Borrow {{ book.title }}</h2>
            <p>Are you sure you want to borrow this book?</p>
            <button onclick="confirmBorrow()">Yes</button>
            <button onclick="closePopup()">No</button>
        </div>
    </div>
    <br><br>
    <a href="/">Back to homepage</a>

    <script>
        function openPopup() {
            document.getElementById("popup").style.display = "block";
        }

        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }

        function confirmBorrow() {
            alert("You have borrowed {{ book.title }}!");
            closePopup();
        }
    </script>
</body>
</html>