<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial scale=1.0">
    <title>EasyLibrary</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class="header">
        <nav>
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo3.png') }}" style="width:75px; height:auto;"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('rules') }}">RULES</a></li>
                    <li><a href="{{ url_for('my_books') }}">MY BOOKS</a></li>
                    <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
                    <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
                   
                </ul>
            </div>
        </nav>

    <div class="text-box">
        <h1>EasyLibrary</h1>
        <p>At EasyLibrary, we make it easy to discover, borrow and manage books.
        <br>Our goal is to provide a simple and accesible platform for everyone to enjoy reading!</p>
        <a href="/about" class="hero-btn">Read More</a>
    </div>

    </section>

    <!----categories section---->

    <section class="categories">
        <div class="cat-row">
            <div class="cat-header">
                <h2>Book Categories</h2>

                
                <p>“Our system library provides an organized collection of books, allowing users to easily search, view, and access available resources.”</p>
            </div>

            <form action="/search" method="get" class="search-form">
                <input type="text" name="q" placeholder="Search books" class="search-box">
                <button type="submit" class="search-btn">Search</button>
            </form>

            <div class="cat-books">

    <a href="/category?type=Science" class="book-link">
        <div class="books">
            <div class="book-img">
                <img src="{{ url_for('static', filename='images/science.png') }}">
            </div>
            <h4>Science</h4>
            <p>Science books that support learning in physics, biology and chemistry.</p>
        </div>
    </a>

    <a href="/category?type=History" class="book-link">
        <div class="books">
            <div class="book-img">
                <img src="{{ url_for('static', filename='images/history.png') }}">
            </div>
            <h4>History</h4>
            <p>Explore historical events, cultures and civilizations.</p>
        </div>
    </a>

    <a href="/category?type=Fiction" class="book-link">
        <div class="books">
            <div class="book-img">
                <img src="{{ url_for('static', filename='images/fiction.png') }}">
            </div>
            <h4>Fiction</h4>
            <p>Creative stories filled with imagination and adventure.</p>
        </div>
    </a>

    <a href="/category?type=Textbook" class="book-link">
        <div class="books">
            <div class="book-img">
                <img src="{{ url_for('static', filename='images/textbook.png') }}">
            </div>
            <h4>Textbook</h4>
            <p>Educational books for students and teachers.</p>
        </div>
    </a>

</div>

            </div>
        </div>
    </section>

    

    <div class="footer">
        <div class="footer">
            <p>@2026 All Rights Reserved by MMU EasyLibrary</p>
        </div>
    </div>

</body>
</html>