<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

</head>

<body class="profile-body">

    <section class="profile-navbar">
        <nav>
            <a href="/">
                <img src="/static/images/test1.png">
            </a>

            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/rules">RULES</a></li>
                    <li><a href="/mybooks">MY BOOKS</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </div>
        </nav>
    </section>

    

    <div class="main-content">
        <div class="top-section">
            <div>
                <h1>My Profile</h1>
                <p>Manage your library account information</p>
            </div>
        </div>

        <div class="profile-card">
            <div class="profile-left">
                <img src="{{ profile_picture }}"
                     class="profile-image">

                <form action="/upload-picture"
                      method="post"
                      enctype="multipart/form-data">
                    
                    <input type="file"
                           name="picture"
                           accept="image/*">

                    <button type="submit"
                            class="edit-btn">
                            Upload Picture
                        </button>
                </form>
                <br>

            </div>

            <div class="profile-right">
                <form action="/update-profile" method="post">
                <div class="info-row">
                    <span>Username</span>
                    <input type="text"
                           name="username"
                           value="{{ username }}">
                </div>

                <div class="info-row">
                    <span>Email</span>
                    <input type="email"
                           name="email"
                           value="{{ email }}">
                </div>

                <div class="info-row">
                    <span>Member Since</span>
                    <strong>{{ member_since }}</strong>
                </div>

                <div class="info-row">
                    <span>Books Borrowed</span>
                    <strong>{{ borrowed_count }}</strong>
                </div>

                <div class="info-row">
                    <span>Favorite Genre</span>
                    <input 
                       type="text"
                       name="favorite_genre"
                       value="{{ favorite_genre }}"
                       placeholder="Enter favorite genre">
                </div>

                <button type="submit"
                        class="edit-btn">
                    Save Changes
                </button>
                </form>
            </div>
        </div>

        <!-- STATS -->

        <div class="stats">
            <div class="stat-box">
                <h2>{{ borrowed_count }}</h2>
                <p>Borrowed Books</p>
            </div>

            <div class="stat-box">
                <h2>{{ returned_count }}</h2>
                <p>Returned Books</p>
            </div>

            <div class="stat-box">
                <h2>{{ overdue_count }}</h2>
                <p>Overdue Books</p>
            </div>
        </div>

    </div>

</body>
</html>