<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyLibrary</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <section class="rules">
        <h2>Rules and Regulations</h2>

        <p>1. Borrowed books must be returned before the due date given.</p>
        <p>2. Users may borrow only 3 books per person at a time.</p>
        <p>3. Late returns may result in penalties or temporary suspension.</p>
        <p>4. Borrowed e-books or materials are for personal use only.</p>
        <p>5. Copying, sharing, or distributing digital books without permission is prohibited.</p>
        <p>6. Attempting to hack, damage, or disrupt the website is strictly prohibited.</p>
        <p>7. Personal information will be protected and used only for website operations.</p>
        <p>8. Violating any rules may lead to warnings, suspension or permanent account removal.</p>
    </section>
</body>
</html>